<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>iEatPackage.web.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAllFoodServlet</servlet-name>
        <servlet-class>iEatPackage.web.ListAllFoodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addFoodToUserHistory</servlet-name>
        <servlet-class>iEatPackage.web.addFoodToUserHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListUserFoodHistory</servlet-name>
        <servlet-class>iEatPackage.web.ListUserFoodHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyDayServlet</servlet-name>
        <servlet-class>iEatPackage.web.MyDayServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyAccount</servlet-name>
        <servlet-class>iEatPackage.web.MyAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>iEatPackage.web.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserAdvancedDataServlet</servlet-name>
        <servlet-class>iEatPackage.web.UserAdvancedDataServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserAdvancedDataServlet</servlet-name>
        <url-pattern>/UserAdvancedDataServlet.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>iEatPackage.web.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsumeServlet</servlet-name>
        <servlet-class>iEatPackage.web.ConsumeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageFoodServlet</servlet-name>
        <servlet-class>iEatPackage.web.ManageFoodServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAllFoodServlet</servlet-name>
        <url-pattern>/ListAllFoodServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addFoodToUserHistory</servlet-name>
        <url-pattern>/addFoodToUserHistory.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListUserFoodHistory</servlet-name>
        <url-pattern>/ListUserFoodHistory.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyDayServlet</servlet-name>
        <url-pattern>/MyDayServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyAccount</servlet-name>
        <url-pattern>/MyAccount.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsumeServlet</servlet-name>
        <url-pattern>/ConsumeServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageFoodServlet</servlet-name>
        <url-pattern>/ManageFoodServlet.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            15
        </session-timeout>
    </session-config>
</web-app>
